html {
  font-family: "Montserrat", sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* SURVEY FORM STYLES */

form {
    background-color: aqua;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    box-shadow: 25px 25px 5px 12px rgb(63, 59, 59);
  }

.form-control {
  text-align: left;
  margin-bottom: 24px;
  width: 90%;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}


.form-control input,
.form-control select,
.form-control textarea,
.form-control button {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 5%;
}

/* I tried doing
.form-control input[type="radio"]
.form-control input[type="checkbox"]
but it didn't change the buttons. 
I don't know if it works with radio and checkboxes */
.form-control input,
.form-control select,
.form-control textarea,
.form-control input[type="radio"],
.form-control input[type="checkbox"],
.form-control button{
  background-color:gold;
}


.form-control label{
  font-weight: bolder;
}

.form-control button{
  border: 2px solid gray;
}

/* You said to 'change the color of the text
of the input fields' so I wasn't sure if that was the 
textbox content or the label headings and I did both*/
input,
.form-control label,
.form-control textarea{
  color: red;
}
.header{
  text-align: center;
  margin: 20px 0px;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: larger;
  color: aqua;
}

/* I changed the HTML layout for these labels
because I wanted the text to have the same as 
others. Reference: lines 119-121 */
.form-control:nth-child(8) label,
.form-control:nth-child(7) label,
.form-control:nth-child(6) label{
  all: unset;
  color: red;
  font-weight: bolder;
}
/* I didn't know how to make my image fill the whole screen :( */
body{
  background-image: url(/images/surver-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}