html {
  font-family: "Montserrat", sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* SURVEY FORM STYLES */

form {
    background-color: aqua;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
  }

.form-control {
  text-align: left;
  margin-bottom: 24px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}



.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: green;
    background-image: none;
    border: 1px solid black;
}
 
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2C3E50;
    overflow: hidden;
    border-radius: .25em;
}
 
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
 
select::-ms-expand {
    display: none;
}
 
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495E;
    pointer-events: none;
}
 
.select:hover::after {
    color: #F39C12;
}
 
<!-- For different browsers --> .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}