html {
  font-family: "Montserrat", sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
h2{
  text-align: center;
}
.form-control label{
  font-weight: 570;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  background-image: url(https://th.bing.com/th/id/OIP.6LtJTr81aFVkYrb6ENPdBwHaEo?w=269&h=180&c=7&r=0&o=5&pid=1.7);
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* SURVEY FORM STYLES */

form {
    background-color: aqua;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    box-shadow: 10px 10px 5px;
  }

.form-control {
  text-align: left;
  margin-bottom: 24px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}
.form-control input{
  background-color: rgba(170, 170, 219, 0.76);
  color: gray;
  
}



.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  padding: 10px;
  margin: 7px;
}
button{
  width: 95%;
  border: 2px solid gray;
  background-color: rgb(62, 116, 116);
}